.menu div{
  z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem ;
    border-bottom: 0.1rem solid var(--light-gray-color);
  }
  .menu div h1{
    font-size: 2.5rem;
  }
  .menu div h1 a{
    color: var(--primary-color);
  }
  .navbar  ul{
    list-style: none;
    display: flex;
    
  
 }

.navbar  ul li a{
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    display: block;
    max-height: 64px;
    padding: 20px;
    position: relative;
    transition: all 300ms ease-in-out;
  }
  .navbar  ul li a::after{
   content: '';
   position: absolute;
   bottom: 1rem;
   left: 50%;
   width: 0%;
   height: 0.2rem;
   background-color: var(--secondary-color);
   transition: all 300ms ease-in-out;
  }
  .navbar  ul li a:hover::after{
    width: 50%;
    left: 25%;
  }
  .navbar  ul li a:hover{
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.038);
  }

  .menu-spacing{
    display: block;
    height: 64px;
  }